.ant-spin-dot-item{
    background-color: #EFA3C8 !important;
}

.ant-radio-button-wrapper{
    color: black !important;
    background-color: bisque ;
}

.ant-radio-button-wrapper:hover{
    
    background-color: white;
}